<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="false" scan="true" scanPeriod="1 seconds">
    <!--appender:日志输出的目的地
        layout:日志输出的格式-->
    <contextName>logback</contextName>
    <property name="log.rootpath" value="logs"/>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <!-- <filter class="ch.qos.logback.classic.filter.ThresholdFilter" >
             <level>WARN</level>
         </filter>-->
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} %contextName [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <root level="info">
        <appender-ref ref="CONSOLE"/>
    </root>

    <logger name="cn.zhgliu" level="debug" additivity="false">
        <appender-ref ref="CONSOLE"/>
    </logger>
</configuration>
